{% form_theme form 'ItBlasterSeoBundle:Form:fields.html.twig' %}

{% javascripts
    '@ItBlasterSeoBundle/Resources/public/js/seo_admin.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% for flashMessage in app.session.flashbag.get(form_name) %}
    <div class="flash notice"> {{ flashMessage }} </div>
{% endfor %}

{{ form(form) }}
